In [12]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(5), index={'a','b','c','d','e'})

In [9]:
# Create a dataframe
df = pd.DataFrame (s, columns = ['Coluna 1'])
df

   Coluna 1
b -1.662121
c -0.322103
a -1.734687
d -1.020118
e -0.556774

In [4]:
df['Coluna 2'] = df['Coluna 1'] * 4
df

NameError: name 'df' is not defined